<?xml version="1.0"?>
<!-- /**
* creating routes for form in admin
* @author - Shivani
* @date - 06.09.2022
*/-->
<!-- // creating module for form-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Pixelmechanics_LowestPrice::lowest_price"
             title="Lowest Price"
             module="Pixelmechanics_LowestPrice"
             sortOrder="80"
             resource="Pixelmechanics_LowestPrice::lowest_price"
        />
        <add id="Pixelmechanics_LowestPrice::lowest_price_days"
             title="Lowest Price In 30 Days"
             module="Pixelmechanics_LowestPrice"
             sortOrder="1"
             action="price/index/index"
             parent="Pixelmechanics_LowestPrice::lowest_price"
             resource="Pixelmechanics_LowestPrice::lowest_price_days"
        />
    </menu>
</config>