<?xml version="1.0"?>
<!-- /**
* creating routes for form in admin
* @author - Shivani
* @date - 06.09.2022
*/-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="price" frontName="price">
            <module name="Shivani_LowestPrice"/>
        </route>
    </router>
</config>
