<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="shivani" translate="label" sortOrder="10">
            <label>Shivani</label>
        </tab>
        <section id="lowest_price" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Lowest Total Price Configuration</label>
            <tab>shivani</tab>
            <resource>Shivani_LowestPrice::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                    <field id="days_check" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Pass X Days To Check Lowest Price</label>
                        <comment>If you keep it blank then default  30 days will be considered</comment>
                    </field>
                <field id="lowest_price_label" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label To Show</label>
                </field>
            </group>
        </section>
    </system>
</config>
