<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Shivani_LowestPrice::lowest_price" title="Lowest Price" sortOrder="10">
                    <resource id="Shivani_LowestPrice::lowest_price_days" title="Lowest Price In 30 Days" sortOrder="50" />
                    </resource>
            </resource>
        </resources>
    </acl>
</config>
