<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lowest_price>
            <general>
                <enable>1</enable>
		<days_check>30</days_check>
                <lowest_price_label>Lowest Price</lowest_price_label>
            </general>
        </lowest_price>
    </default>
</config>